<mat-card>
  <mat-card-title>Meetings</mat-card-title>

  <ng-container *ngIf="error; else working">
    <mat-card-subtitle>An Error Occurred!</mat-card-subtitle>
  </ng-container>

  <ng-template #working>
    <ng-container *ngIf="loading; else finished">
      <mat-spinner></mat-spinner>
    </ng-container>
  </ng-template>

  <ng-template #finished>
    <ng-container *ngIf="noMeetingsRegistered(); else meetingsList">
      <mat-card-subtitle>No meetings have been registered yet.</mat-card-subtitle>
    </ng-container>
  </ng-template>

  <ng-template #meetingsList>
    <mat-card-subtitle>Below is a list of all your recent meetings</mat-card-subtitle>
    <mat-card-content>
      <p>Group By</p>
      <mat-chip-list>
        <mat-chip color="primary"
                  [selected]="isGroupedBy('')"
                  (click)="setGroupBy('')">Ungrouped
        </mat-chip>
        <mat-chip color="accent"
                  [selected]="isGroupedBy('date')"
                  (click)="setGroupBy('date')">Date
        </mat-chip>
        <mat-chip color="warn"
                  [selected]="isGroupedBy('person')"
                  (click)="setGroupBy('person')">Person
        </mat-chip>
      </mat-chip-list>

      <ng-container *ngIf="isGroupedBy('')">
        <app-meetings-table [meetings]="meetings"></app-meetings-table>
      </ng-container>

      <ng-container *ngIf="isGroupedBy('date')">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let group of meetingsByDateTime">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ getLocaleDateString(group.dateTime) }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <app-meetings-table [meetings]="group.meetings"></app-meetings-table>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>

      <ng-container *ngIf="isGroupedBy('person')">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let group of meetingsByPerson">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ group.person.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <app-meetings-table [meetings]="group.meetings"></app-meetings-table>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
    </mat-card-content>
  </ng-template>
</mat-card>
