<mat-card>
  <mat-card-title>Meetings</mat-card-title>

  <ng-container *ngIf="error; else working">
    <mat-card-subtitle>An Error Occurred!</mat-card-subtitle>
  </ng-container>

  <ng-template #working>
    <ng-container *ngIf="loading; else finished">
      <mat-spinner></mat-spinner>
    </ng-container>
  </ng-template>

  <ng-template #finished>
    <ng-container *ngIf="noMeetingsRegistered(); else meetingsList">
      <mat-card-subtitle>No meetings have been registered yet.</mat-card-subtitle>
    </ng-container>
  </ng-template>

  <ng-template #meetingsList>
    <mat-card-subtitle>Below is a list of all your recent meetings</mat-card-subtitle>
    <mat-card-content>
      <table
        mat-table
        [dataSource]="meetings!">
        <ng-container matColumnDef="dateTime">
          <th mat-header-cell *matHeaderCellDef>Contact Date &amp; Time</th>
          <td mat-cell *matCellDef="let element"> {{ getLocaleDateTimeString(element.dateTime) }} </td>
        </ng-container>
        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef>Contact</th>
          <td mat-cell *matCellDef="let element"> {{ element.person.name }} </td>
        </ng-container>
        <ng-container matColumnDef="coordinates">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let element"> {{ element.coordinates }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['dateTime', 'contact', 'coordinates']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['dateTime', 'contact', 'coordinates'];"></tr>
      </table>
    </mat-card-content>
  </ng-template>
</mat-card>
